.is-3-column
    background-image url("https://raw.githubusercontent.com/BlakeNeko/blog-images/main/bg.png")
    background-position center center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover